header {
  width: 100%;
  background-color: transparent;
  box-shadow: none;

  transition: .5s ease;

  position: fixed; //posição fixa do cabeçalho
  z-index: 800; //sobrepondo todo os itens na tela
}

// classe para quando o cabeçalho for ativado pelo usuario.
.active-header {
  background-color: $white-normal;
  box-shadow: 0px 51px 80px rgba(169, 80, 196, 0.08),
    0px 15.375px 24.1177px rgba(169, 80, 196, 0.0521271),
    0px 6.38599px 10.0172px rgba(169, 80, 196, 0.04),
    0px 2.30969px 3.62304px rgba(169, 80, 196, 0.0278729);
} 
