// Tipogafria do Projeto
// Tamanho e cores das fontes estão estabelecidas em prototipagem no Figma.

// Tipo de fonte: Títulos
@mixin typeface-1($size, $device: desktop) {
  font-family: "Sora", sans-serif;

  // h1
  @if $size == h1 and $device == desktop {
    font-size: 64px;
    line-height: 100%;
  } @else if $size == h1 and $device == mobile {
    font-size: 36px;
    line-height: 120%;
  }

  // h2
  @else if $size == h2 and $device == desktop {
    font-size: 52px;
    line-height: 100%;
  } @else if $size == h2 and $device == mobile {
    font-size: 36px;
    line-height: 120%;
  }

  // h3
  @else if $size == h3 and $device == desktop {
    font-size: 36px;
    line-height: 100%;
  } @else if $size == h3 and $device == mobile {
    font-size: 24px;
    line-height: 120%;
  }

  // h4
  @else if $size == h4 and $device == desktop {
    font-size: 24px;
    line-height: 100%;
  } @else if $size == h4 and $device == mobile {
    font-size: 18px;
    line-height: 130%;
  }

  // h5
  @else if $size == h5 and $device == desktop {
    font-size: 18px;
    line-height: 100%;
  } @else if $size == h5 and $device == mobile {
    font-size: 16px;
    line-height: 150%;
  }
}

// Tipo de fonte: Corpo de Texto
@mixin typeface-2($size: p2, $device: desktop) {
  font-family: "Source Sans 3", sans-serif;

  // p1
  @if $size == p1 and $device == desktop {
    font-size: 24px;
    line-height: 130%;
  } @else if $size == p1 and $device == mobile {
    font-size: 18px;
    line-height: 130%;
  }
  // p2
  @else if $size == p2 and $device == desktop {
    font-size: 16px;
    line-height: 140%;
  } @else if $size == p2 and $device == mobile {
    font-size: 14px;
    line-height: 150%;
  }
  // p3
  @else if $size == p3 and $device == desktop {
    font-size: 14px;
    line-height: 150%;
  } @else if $size == p3 and $device == mobile {
    font-size: 14px;
    line-height: 150%;
  }
}

//Estabelecendo configurações para textos
h1 {
  color: $black-dark;
  @include typeface-1(h1, desktop);

  @include responsive(s) {
    @include typeface-1(h1, mobile);
  }
}

h2 {
  color: $black-dark;
  @include typeface-1(h2, desktop);

  @include responsive(s) {
    @include typeface-1(h2, mobile);
  }
}

h3 {
  color: $black-dark;
  @include typeface-1(h3, desktop);

  @include responsive(s) {
    @include typeface-1(h3, mobile);
  }
}

h4 {
  color: $black-dark;
  @include typeface-1(h4, desktop);

  @include responsive(s) {
    @include typeface-1(h4, mobile);
  }
}

// h5 foi definido no figma com duas cores linear.
h5 {
  text-transform: uppercase; //T texto em caixa alta
  background: linear-gradient(
    220.94deg,
    $secondary-normal 14.43%,
    $primary-normal 85.28%
  ); // efeito de duas cores

  // aplicar o efeito de cores com uso de máscara
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-weight: bold;

  color: $black-dark;

  @include typeface-1(h5, desktop);
  @include responsive(s) {
    @include typeface-1(h5, mobile);
  }
}

p {
  color: $gray-3;
  @include typeface-2(p2, desktop);
  @include responsive(s) {
    @include typeface-2(p2, mobile);
  }
}

.bold {
  font-weight: bold;
  color: $black-light;
}

.strong {
  color: $black-dark;
  @include typeface-2(p2, desktop);
  @include responsive(s) {
    @include typeface-2(p2, mobile);
  }
}

.text-center {
  text-align: center;
}